<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<style type="text/css">
body, html{width: 100%;height: 100%;overflow: hidden;margin:0;}
#allmap {margin-right: 300px;height: 100%;overflow: hidden;}
#result {border-left:1px dotted #999;height:100%;width:295px;position:absolute;top:0px;right:0px;font-size:12px;}
dl,dt,dd,ul,li{
    margin:0;
    padding:0;
    list-style:none;
}
p{font-size:12px;}
dt{
    font-size:14px;
    font-family:"微软雅黑";
    font-weight:bold;
    border-bottom:1px dotted #000;
    padding:5px 0 5px 5px;
    margin:5px 0;
}
dd{
    padding:5px 0 0 5px;
}
li{
    line-height:28px;
}
.red{color: red;}
</style>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=5E5EE28a7615536d1ffe2ce2a3667859"></script>
<!--加载鼠标绘制工具-->
<script type="text/javascript" src="http://api.map.baidu.com/library/DrawingManager/1.4/src/DrawingManager_min.js"></script>
<link rel="stylesheet" href="http://api.map.baidu.com/library/DrawingManager/1.4/src/DrawingManager_min.css" />
<!--加载检索信息窗口-->
<script type="text/javascript" src="http://api.map.baidu.com/library/SearchInfoWindow/1.4/src/SearchInfoWindow_min.js"></script>
<script type="text/javascript" src="http://api.map.baidu.com/library/GeoUtils/1.2/src/GeoUtils_min.js"></script>

<link rel="stylesheet" href="http://api.map.baidu.com/library/SearchInfoWindow/1.4/src/SearchInfoWindow_min.css" />
<title>百度地图绘制多边型带编辑功能</title>
</head>
<body>
<div id="allmap" style="overflow:hidden;zoom:1;position:relative;">  
    <div id="map" style="height:100%;-webkit-transition: all 0.5s ease-in-out;transition: all 0.5s ease-in-out;"></div>
    <div id="showPanelBtn" style="position:absolute;font-size:14px;top:50%;margin-top:-95px;right:0px;width:20px;padding:10px 10px;color:#999;cursor:pointer;text-align:center;height:170px;rgba(255,255,255,0.9);-webkit-transition:  all 0.5s ease-in-out;transition: all 0.5s ease-in-out;font-family:'微软雅黑';font-weight:bold;">编辑多边形<br/>&lt;</div>
    <div id="panelWrap" style="width:0px;position:absolute;top:0px;right:0px;height:100%;overflow:auto;-webkit-transition: all 0.5s ease-in-out;transition: all 0.5s ease-in-out;">
        <div style="width:20px;height:200px;margin:-100px 0 0 -10px;color:#999;position:absolute;opacity:0.5;top:50%;left:50%;" id="showOverlayInfo">此处用于展示覆盖物信息</div>
        <div id="panel" style="position:absolute;"></div>
    </div>
</div>
<div id="result">
    </dl>
        <dd>
            <ul>
                <li>
                    <input type="button" value="获取绘制的覆盖物个数" onclick="bmap.getCount()"/>
                    <input type="button" value="重新绘制" onclick="bmap.clearAll()"/>
                    <input type="button" value="获取最后一个覆盖物信息" onclick="bmap.getOverLay()"/>
                </li>
            </ul>
        </dd>
    </dl>
    <div id="isContain">显示结果</div>
</div>
<script type="text/javascript">
	if(window.XMLHttpRequest){
        	var xmlhttp=new XMLHttpRequest();
        }else if(window.ActiveXobject){
        	var xmlhttp=new ActiveXobject('Microft.XMLHttp');
        }
function $(id){
    return document.getElementById(id);
}
var bmap = {
    status: false,
    map: '',
    point: '',
    overlays: [],
    overlaysCache: [],
    myPolygon: '',
    myOverlay: [],
    drawingManager: '',
    styleOptions: {
        strokeColor:"red",      //边线颜色。
        fillColor:"red",        //填充颜色。当参数为空时，圆形将没有填充效果。
        strokeWeight: 3,        //边线的宽度，以像素为单位。
        strokeOpacity: 0.8,     //边线透明度，取值范围0 - 1。
        fillOpacity: 0.3,       //填充的透明度，取值范围0 - 1。
        strokeStyle: 'solid'    //边线的样式，solid或dashed。
    },
    /**
     * 实例化
     */
    init: function(){
        if(this.status){
            return;
        }
        this.status = true;
        this.map = new BMap.Map('map');
        this.point = new BMap.Point(116.307852,40.057031);
        var map = this.map;
        var styleOptions = this.styleOptions;
        map.centerAndZoom(this.point, 18);
        map.enableScrollWheelZoom();
        //实例化鼠标绘制工具
        this.drawingManager = new BMapLib.DrawingManager(map, {
            isOpen: false, //是否开启绘制模式
            enableDrawingTool: true, //是否显示工具栏
            drawingMode:BMAP_DRAWING_POLYGON,
            drawingToolOptions: {
                anchor: BMAP_ANCHOR_TOP_RIGHT, //位置
                offset: new BMap.Size(5, 5), //偏离值
                scale: 0.8, //工具栏缩放比例
                drawingModes:[
                	BMAP_DRAWING_POLYGON
                	]
            },
            polygonOptions: styleOptions, //多边形的样式
        });
        //添加鼠标绘制工具监听事件，用于获取绘制结果
        this.drawingManager.addEventListener('overlaycomplete', bmap.overlaycomplete);
        // /*加载一个已有的多边形*/
        // if (this.myOverlay) {
        //     this.loadMyOverlay();
        // };
        map.addEventListener("rightclick",function(e){
        	var lng=e.point.lng;
        	var point='point='+'[{"lng":'+e.point.lng+','+'"lat":'+e.point.lat+'}]';
            if(xmlhttp!=null){
        	xmlhttp.open('post','/gpsobj/isinPolygon',true);
        	xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded; charset=UTF-8");
        	xmlhttp.send(point);
        	xmlhttp.onreadystatechange=function(){
    			if(xmlhttp.readyState==4){
    				if (xmlhttp.status==200) {
    				console.log("1");
    				}
    			}
    		}
       	 }
        });
    },
    loadMyOverlay: function(){
        var map = this.map;
        this.clearAll();
        map.centerAndZoom(this.point, 11);
        // myPolygon = new BMap.Polygon(this.myOverlay, this.styleOptions);
        // this.myPolygon = myPolygon;
        // try{myPolygon.enableEditing();}catch(e){};
        // // myPolygon.addEventListener("lineupdate",function(e){
        // //     bmap.showLatLon(e.currentTarget.W);
        // // });
        // map.addOverlay(myPolygon);
        var pts = [];
	    var pt1 = new BMap.Point(116.395, 39.910);
	    var pt2 = new BMap.Point(116.394, 39.914);
	    var pt3 = new BMap.Point(116.403, 39.920);
	    var pt4 = new BMap.Point(116.402, 39.914);
	    var pt5 = new BMap.Point(116.410, 39.913);    
    
    pts.push(pt1);
    pts.push(pt2);
    pts.push(pt3);
    pts.push(pt4);
    pts.push(pt5);
    var ply = new BMap.Polygon(pts);
    
    var pt =new BMap.Point(116.331398, 39.897445);
        //演示：将面添加到地图上    
    map.clearOverlays();
    var mkr = new BMap.Marker(pt);
    map.addOverlay(mkr);
    map.addOverlay(ply)
    var result = BMapLib.GeoUtils.isPointInPolygon(pt, ply);
    if(result == true){
        document.getElementById('isContain').innerHTML="点在多边形内";
    } else {
        document.getElementById('isContain').innerHTML="点在多边形外";
    } 
    },
        /**
     * 清除覆盖物
     */
    clearAll: function() {
        var map = this.map;
        var overlays = this.overlays;
        for(var i = 0; i < overlays.length; i++){
            map.removeOverlay(overlays[i]);
        }
        this.overlays.length = 0
        map.removeOverlay(this.myPolygon);
        this.myPolygon = '';
    },
    /**
     *取覆盖物的经纬度
     */
    getOverLay: function(){
        var box = this.myPolygon ? this.myPolygon : this.overlays[this.overlays.length - 1];
        console.log(box.W);
    },
    getCount: function(){
        var n = 0;
        if (this.myPolygon) {
            n++;
        };
        if (this.overlays) {
            n = n + this.overlays.length;
        };
        console.log(n);
    },
    /**
     *回调获得覆盖物信息
     */
    overlaycomplete: function(e){
        bmap.overlays.push(e.overlay);
        e.overlay.enableEditing();
        bmap.getPoint(e.overlay);
        e.overlay.addEventListener("lineupdate",function(e1){
             bmap.getPoint(e.overlay);
        });
    },
    //获取多边形点数组
    getPoint:function(polygon){
    	var path=polygon.getPath();
    	var pointArr=[];
        for(var i=0;i<path.length;i++){
        	// console.log('第'+i+'个点的坐标为('+path[i].lng+','+path[i].lat+')');
        	var point='"'+i+'":[{"lng":'+path[i].lng+','+'"lat":'+path[i].lat+'}]';
        	pointArr.push(point);
        }
        var pointArrs='points={'+pointArr+'}';
        console.log(pointArrs);
        if(xmlhttp!=null){
        	xmlhttp.open('post','/gpsobj/savepoint',true);
        	xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded; charset=UTF-8");
        	xmlhttp.send(pointArrs);
        	xmlhttp.onreadystatechange=function(){
    			if(xmlhttp.readyState==4){
    				if (xmlhttp.status==200) {
    				console.log("1");
    				}
    			}
    		}
        }
    },
};
bmap.init();
</script>
</body>
</html>
